.footer{
	width: 100%;
	height: auto;
	border-top: 5px solid #FF1D36;
	.contacts{
		text-align: center;
	}
	li{
		margin: -5px 25px 0px;
	}
}
	.contacts-row{
		margin: 30px 0;
		p{
			font-size: 16px;
			color: #423934;
		}
	}