*{
	margin: 0;
	padding: 0;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	box-sizing: border-box;
}
.col-1{
	width: 8.3333%;
}
.col-2{
	width: 16.6666%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.3333%;
}
.col-5{
	width: 41.6666%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.3333%;
}
.col-8{
	width: 66.6666%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.3333%;
}
.col-11{
	width: 91.6666%;
}
.col-12{
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;	
}
@media (max-width: 1200px){
	.container{
		width: 768px;
	}
}
@media (max-width:768px){
	.container{
		width: 90%;
	}
}

@media (max-width: 500px){
	.container{
		width: 90%;
	}
}


.row{
	display: flex;
	flex-wrap: wrap;
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.main-content{
	width: 58%;
	float: left;
	border-left: 1px solid #d7d7d7;
}
.middle__sec{
	overflow: auto;
	border-bottom: 1px solid #D7D7D7;
	padding: 10px 0;
}