.about-us__sec{
	width: 100%;
	height: auto;
	padding: 0 15px;
}
	.about-us__pic-block{

		img{
			display: block;
			margin: 0 auto;
			width: 100%;
			height: auto;
		}
	}
	.about-us__content-block{
		p{
			font-size: 14px;

		}
	}
		.about-us__content-header{
			margin: 20px 0;
			p{
				color: #424241;
				font-weight: bold;				
			}
		}
		.about-us__content-main{
			p{
				text-indent: 16px;
				color: #414140;
			}
		}
		.about-us__content-footer{
			margin: 20px 0;
			p{
				color: #414140;
			}
		}

